deploy.rb

# remove development files

/.bundle
/log
/tmp
/test
/vendor
/db/bkp

/.byebug_history
/.sass-cache/

public/assets

/storage/
/db/mostre.duckdb
/db/mostre.duckdb.wal
/db/__pycache__/
public/cache
public/cultura
.DS_Store

# Ignore key files for decrypting credentials and more.
/config/*.key

