<div id="topo" style="text-align: right">

  <div id="logo">
    <h1>Mostre!me</h1>
  </div>

  <div id="menu">
    <%= link_to "Criar", "/criar" , :id=>"criar" %>
    <%= link_to "Links Top",  "/top/links", :id=>"top"  %>
    <%= link_to "Meus Links (#{meus_links_count})", "/meus", :id=>"meus"   %>
  </div>
</div>