#chart {
		width: 880px;
		height: 580px;
		background: #bbb;
		margin: 1px auto;
		position: relative;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

text {
	pointer-events: none;
	text-decoration: underline;
}

.grandparent text { /* header text */
	font-weight: bold;
	font-size: 13px;
	
}

rect {
	fill: none;
	stroke: #fff;
	cursor: pointer;
}

rect.parent,
.grandparent rect {
	stroke-width: 2px;	
}

.grandparent rect {
	fill: #f2f2f2;

}

.children rect.parent,
.grandparent rect {
	cursor: pointer;
}

rect.parent {
	pointer-events: all; 
}

.children:hover rect.child,
.grandparent:hover rect {
	fill: lightgray;
	text-decoration: underline
}

.textdiv { /* text in the boxes */
	font-size: 13px;
	padding: 5px;
	cursor: pointer;
}
