/* line 1, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
* {
  margin: 0px;
  padding: 0px;
}

/* line 6, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
body {
  background: url(/assets/texture-noise.png);
  font-family: "Gudea", sans-serif;
  font-size: 14px;
  min-width: 1130px;
}

/* line 12, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
a {
  color: #4183c4;
}

/* line 15, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
.head {
  line-height: 25px;
  letter-spacing: 1px;
  font-size: 17px;
}

/* line 20, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
.info {
  font-size: 17px;
  padding: 10px;
  text-align: center;
  border: 1px solid lightgrey;
  background-image: -webkit-gradient(linear, 0 0, 0 120%, from(#fff7df), to(#f2f2f2));
}

/* line 27, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
#todo {
  padding: 5px 15px 15px 15px;
}

/* line 30, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
#lado {
  width: 200px;
  margin-bottom: 20px;
  float: left;
  display: margin-block;
}

/* line 36, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
.afastado {
  padding-right: 10px;
}

/* line 39, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
#menu {
  width: inherit;
}

/* line 42, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
.titulo {
  font-size: 23px;
  text-align: center;
  padding: 3px;
  color: white;
  background-color: #363531;
  text-shadow: 2px 3px gray;
  line-height: 28px;
}

/* line 51, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
.logo {
  font-size: 25px;
  text-align: center;
  color: white;
  background-color: #363531;
  text-shadow: 4px 4px gray;
  cursor: crosshair;
}

/* line 58, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
.logo:hover {
  color: white;
  background-color: #363531;
  text-shadow: 4px 4px gray;
}

/* line 63, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
#meio {
  font-size: 13px;
  margin-left: 10px;
  margin-left: 220px;
}

/* line 68, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
#updates {
  border: 1px solid lightgrey;
  padding: 20px;
  background-color: #f2f2f2;
}

/* line 73, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
#graph {
  width: 50%;
  float: left;
  border: 1px solid lightgrey;
  padding: 20px;
  background-color: #f2f2f2;
}

/* line 80, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
#rodape {
  position: fixed;
  bottom: 0px;
  font-size: 13px;
  text-shadow: 1px 2px gray;
  text-align: center;
  color: white;
  background-color: #363531;
  height: 21px;
  width: 100%;
  border-top: 1px solid lightgrey;
}

/* line 92, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
.ago {
  font-size: 12px;
  color: gray;
  margin-left: 10px;
  margin-bottom: 2px;
}

/* line 99, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
.seta-right {
  opacity: 0.7;
  float: right;
  padding: 0px;
  margin: 0px;
  padding-top: 5px;
}

/* line 106, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
.borda {
  box-shadow: 5px 3px 10px lightgrey;
}

/* line 109, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
.reorder {
  cursor: n-resize;
  text-decoration: underline;
}

/* line 112, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
.hover {
  color: white;
  text-decoration: none;
  text-shadow: 3px 3px gray;
}

/* line 117, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
.reorder:hover {
  background-color: #363531;
  color: white;
  text-decoration: none;
  text-shadow: 3px 3px gray;
}

/* line 123, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
.loading {
  float: right;
  display: none;
}

/* line 127, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
.highlight {
  background-color: khaki;
}

/* line 130, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
.status {
  text-align: center;
  font-size: 17px;
  color: white;
  background-color: #363531;
  text-shadow: 3px 2px gray;
  cursor: crosshair;
  margin-bottom: 8px;
}

/* line 139, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
.manifesto {
  line-height: 25px;
  font-size: 17px;
  color: white;
  background-color: #363531;
  text-shadow: 2px 2px gray;
  cursor: crosshair;
  text-align: justify;
}

/* line 148, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
.selectable {
  width: 178px;
}

/* line 150, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
.selectable:hover {
  cursor: crosshair;
  text-decoration: underline;
}

/* line 154, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
#subsub > .selectable:hover {
  text-decoration: line-through;
}

/* line 157, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
hr.small {
  margin: 8px;
}

/* line 160, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
.sub {
  font-size: 11px;
  color: gray;
}

/* line 164, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
#subfiltros {
  display: none;
}

/* line 167, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
.center {
  text-align: center;
}
/* line 169, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
.center .label {
  padding: 5px;
}

/* line 172, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
.right {
  float: right;
}

/* line 175, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
.count {
  font-size: 11px;
  padding-left: 50px;
}

/* line 179, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
.x1 {
  font-size: 55px;
}

/* line 182, /Users/polo/Projetos/Mostre.me/Mostre/app/assets/stylesheets/estilo.sass */
.x2 {
  padding-top: 20px;
  font-size: 15px;
}
