<h3>Links Top</h3>

<table width="500px">
  <tr>
    <td width="400"><b>Link</b></td>
    <td align="center"><b>Clicks</b></td>
  </tr>

<% @links.each do |link| %>
  <tr>
    <td><%=  link_path(link, true)%></td>
    <td align="center"><%=h link.clicks_count %></td>
</tr>
<% end %>
</table>