<script>
function init(){
  var titulo = $('link_titulo').value;
  if (titulo != "")
    $('out').update(urlify(titulo));
} document.observe('dom:loaded', init);
</script>

<h3>Criar Link</h3>
<% form_for :link, :url => { :action => "create" } do|f| %>
  <%= f.error_messages %>

  Para:<br>
  <%= f.text_field(:para, :size=>62, :class=>"text")%>
  <p class="ex">
    Exemplo:
    http://noticias.terra.com.br/brasil/interna/0,,OI3940996-EI7896,00-Na+tribuna+Suplicy+da+cartao+vermelho+a+Sarney.html
  </p>

  Título:<br>
  <%= f.text_field('titulo', {:size => 45, :maxlength => 45, :class=>"text",
      :onkeyup=>"$('out').update(urlify(this.value));"})
    %>

  <p class="ex">
    Exemplo:
    Suplicy dá Cartão Vermelho à Sarney
  </p>
  <br>

  <p id="out" class="out">http://mostre.me/suplicy-da-cartao-vermelho-a-sarney</p>
  <div align="right">
    <%= f.submit("Criar", {:style=>"height: 30px"})%>
  </div>

<%  end %>