:javascript
  <!--
  google_ad_client = "ca-pub-7020674007367031";
  /* cultura */
  google_ad_slot = "4766101602";
  google_ad_width = 200;
  google_ad_height = 400;
  //-->
%script{src: "//pagead2.googlesyndication.com/pagead/show_ads.js", type: "text/javascript"}
