%script{async: "", src: "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
/ cultura
%ins.adsbygoogle{"data-ad-client" => "ca-pub-7020674007367031", "data-ad-slot" => "4766101602", style: "display:inline-block;width:200px;height:400px"}
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});
