= javascript_include_tag "filtros"

%form{action: "/eleicoes/doadores/", method: "get"}
  .mb-3
    %label.form-label.small.text-muted Nome contém
    = text_field_tag :nome, params[:nome], class: "form-control form-control-sm"

  %hr.small

  #subsub
    - if @estado
      %p.selectable{type: "estado", type_id: @estado.id, filtering: 1}
        %span.rotulo= @estado.nome
        %span.badge.badge-right X
