p{
    margin-bottom: 2px;
}


body
{
    background: #D9E6F7 asset-url('old-bg.png') repeat scroll 0 -79px;
    color: #333;
    margin: auto;
    width:550px;
    padding: 30px;

}

h1>a{
    padding-top: 7px;
    color: #333
}

.menu
{
    display: inline-block;
    margin: 5px 20px;
    font-family:'Myriad Pro',Helvetica,Arial,sans-serif;
    font-size: 18px;
    float: right;
}


body, p, ol, ul, td {
    font-family: verdana, arial, sans-serif;
    font-size:   13px;
    line-height: 18px;
}

input.text
{
    margin-top: 4px;
    font-family: verdana, arial, sans-serif;
    font-size:   15px;
    height: 30px;
    border: 1px solid #A5C1D1;
}

p.ex
{
    color: gray;
    font-size: 12px;
    font-family: verdana;
    font-style: italic;
}

#status
{
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #004499;
    padding: 5px;
    margin-bottom: 10px;
}

.out
{
    background-color: #004499;
    line-height: 30px;
    color: white;
    font-size: 13px;
    border: 1px solid black;
    text-align: center;
    text-decoration: underline;
}

#logo
{
    position: absolute;
    padding-left: 5px;
}


.rodape {
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
}

h1 {
    font-family:'Myriad Pro',Helvetica,Arial,sans-serif;
    font-size:35px;
    display: inline-block;
    margin-top: 0px;
}

h3 {
    font-family:'Myriad Pro',Helvetica,Arial,sans-serif;
    font-size:20px;
}

#meiuca
{
    word-wrap: break-word;
    border: 1px solid gray;
    padding:20px;
    background-color: #EFF7FF;
    border-radius: 0px 25px 25px 25px;
    box-shadow: 5px 4px 10px #EFF7FF;
}

a { color: #000; }

ul {
list-style-position: inside;
padding-top: 3px;
}

.selecionado
{
    color: white;
    background-color: #004499;
    text-decoration: overline underline;
}

a:hover {
    color: white;
    background-color:#004499;
    text-decoration: overline underline;
}

#errorExplanation {
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    padding-left: 70px;
    background-color: #f0f0f0;
    color: red;
}

