!!!
%html
	%head
		%title Mostre!me Incentivos
		%meta{charset: 'utf-8'}
		= stylesheet_link_tag "grafo"
		= javascript_include_tag "sigmajs/sigma.min", "sigmajs/plugins/sigma.parsers.gexf.min", "grafo"
	%body
	
		#sigma-container
			