!!!
%html
  %head
    %meta{content: "[An example of getting started with Cytoscape.js]", name: "description"}/
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"}
    %meta{charset: "utf-8"}/
    %title Cytoscape.js initialisation
    %script{src: "http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"}
  %body
    #cy